.idea/copilot.data.migration.ask2agent.xml
.idea/modules.xml
.idea/portifolio.iml
.idea/vcs.xml
img/.DS_Store
img/banner/.DS_Store
img/testimonials/.DS_Store
img/.DS_Store
img/banner/.DS_Store
img/testimonials/.DS_Store
.DS_Store
img/.DS_Store
